
/**
 * @author Gabor X. Toth
 * @author Marcello Stanisci
 * @author Florian Dold
 */

body {
    min-height: 20em;
    width: 30em;
    margin: 0;
    padding: 0;
    max-height: 800px;
    overflow: hidden;
}

.nav {
    background-color: #ddd;
    padding: 0.5em 0;
}

.nav a {
    color: black;
    padding: 0.5em;
    text-decoration: none;
}

.nav a.active {
    background-color: white;
    font-weight: bold;
}


.container {
    overflow-y: scroll;
    max-height: 400px;
}

.abbrev {
    text-decoration-style: dotted;
}

#content {
    padding: 1em;
}


#wallet-table .amount {
    text-align: right;
}

.hidden {
    display: none;
}

#transactions-table th,
#transactions-table td {
    padding: 0.2em 0.5em;
}

#reserve-create table {
    width: 100%;
}

#reserve-create table td.label {
    width: 5em;
}

#reserve-create table .input input[type="text"] {
    width: 100%;
}

.historyItem {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 0.5em;
    margin: 0.5em;
}

.historyDate {
    font-size: 90%;
    margin: 0.3em;
    color: slategray;
}
